<body [formGroup]="replacerData" class="replacer-body">
  <div class="first-fields">
    <div class="replace-text">
      <mat-form-field class="form-field">
        <mat-label class="label">Find</mat-label>
        <input matInput formControlName="textToFind">
      </mat-form-field>
    </div>
    <div class="replace-with">
      <mat-form-field class="form-field">
        <mat-label class="label">Replace with</mat-label>
        <input matInput formControlName="replaceWith">
      </mat-form-field>
    </div>
  </div>

  <mat-divider></mat-divider>



<div class="bottom-area">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div class="text-area">
        <mat-form-field class="textarea-field">
          <mat-label *ngIf="!replacerData.controls.originalText.value">Paste your content here</mat-label>
          <textarea formControlName="originalText"  rows="10" cols="5" matInput></textarea>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="text-area">
        <mat-form-field class="textarea-field">
          <mat-label *ngIf="!replacerData.controls.resultText.value">Result</mat-label>
          <textarea formControlName="resultText"  rows="10" cols="5" matInput></textarea>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>


</body>

<div class="actions">
  <button class="button" (click)="triggerReplacer()" mat-raised-button color="primary">
    GO
  </button>
</div>
